<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<style>
		a {
            color: blue;
            text-decoration: underline;
        }
	</style>
</head>	
<body>
<p>Dear <span th:text="${guestInfo.getName()}"></span>,</p>

<p>Your reservation at Our Hotel is confirmed. Confirmation number: <span th:text="${reservation.getReservationID()}"></span>.</p>

<h4>Here are your details:</h4>
<ul>
    <li>Number of guests: <span th:text="${reservation.getNumberOfGuest()}"></span></li>
    <li>Total room: <span th:text="${reservation.getTotalRoom()}"></span></li>
    <li>Check-In date: <span th:text="${#dates.format(reservation.getCheckIn(), 'dd/MM/yyyy HH:mm:ss')}"></span></li>
	<li>Check-out date: <span th:text="${#dates.format(reservation.getCheckOut(), 'dd/MM/yyyy HH:mm:ss')}"></span></li>
    <li>Length of stay: <span th:text="${reservation.getLengthOfStay()}"></span></li>
    <li>Total cost: <span th:text="${reservation.getTotalCost()}"></span></li>
    <li>Special request: <span th:text="${reservation.getSpecialRequest()}"></span></li>
</ul>

<h4>Bank Account Information for payment:</h4>
        <ul>
            <li>Bank Name: XXX Bank</li>
            <li>Account Holder: Nextel Hotel</li>
            <li>Account Number: 1234567890</li>
            <li>SWIFT/BIC Code: ABCDEFGH (if applicable)</li>
            <li>IBAN (if applicable): DE89370400440532013000</li>
        </ul>

<b>Please ensure that you make the payment promptly and use the provided bank account information 
	for the transaction. Once the payment has been successfully processed, kindly send a confirmation email to 
	<a>nextel2023.mm@gmail.com</a> or <a>our Facebook page chat box </a>along with the payment transaction reference and the Reservation ID. 
</b>

<b>You are kindly requested to settle the total cost of your reservation within the next 24 hours from the date of this notice. 
	Failure to make the payment within this stipulated timeframe will result in the automatic cancellation of your reservation.</b>
<br>	
<p>If you have any questions or require further assistance, please do not hesitate to contact our reservations team at <i>nextel2023.mm@gmail.com</i>.</p>
<i>Thank you for choosing our hotel for your stay.</i>

<p>Best regards,<br>XXHotel Reservation Deparment</p>
</body>
</html>